<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
	<script data-main="js/nodeOnlineCount" type="text/javascript" src="js/lib/require.js"></script>
  </head>

  <body>
    <div class="container">
      <label>Online Nodes: </label><span id="nodecount">Number</span> <br />
	  <label>All Nodes (without gateway): </label><span id="allnodecount">Number</span> <br />
	  <label>Gateways: </label><span id="gatewayscount">Number</span>
    </div>
  </body>
</html>
