<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Freifunk #cityname# - Statistiken</title>
    <link rel="stylesheet" type="text/css" href="css/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/list.css" />
	<script data-main="js/traffic" type="text/javascript" src="js/lib/require.js"></script>
	<script data-main="js/nodeOnlineCount" type="text/javascript" src="js/lib/require.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <style type="text/css">
      #map {
        width: 100%;
        box-sizing:border-box;
      }
      .olPopup p { margin:0px; }
      .nodePopup { font-size: 0.8em; }
      .nodePopup .label { font-weight: bold; }
    </style>
  </head>

  <body>
    <header>
      <h1><a href="#url#" id="sitelink">#sitename#</a></h1>
      <ul>
        <li><a href="graph.html">Graph</a></li>
        <li><a href="geomap.html">Karte</a></li>
        <li><a href="list.html">Liste</a></li>
		<li><a href="stats.html">Statistiken</a></li>
      </ul>
    </header>
    <div class="container">	
		<div class="row">
			<h1>Server Traffic</h1>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Monate in GiB</h4>
					</div>
					<div class="panel-body">
						<canvas id="allGatewaysMonth"></canvas>
					</div>
				</div>				
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Tage in GiB</h4>
					</div>
					<div class="panel-body">
						<canvas id="allGatewaysDay"></canvas>
					</div>
				</div>	
			</div>
	  	</div>
		
		<div class="row">
			<h1>Knoten und Client Anzahl</h1>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<h2>Wochenüberblick</h2>
			</div>
			<div class="col-md-6">
				<h2>Monatsübersicht</h2>
			</div>
		</div>
		<div class="row">
			<a href="nodes/globalGraph.png">
				<img class="col-md-6" src="nodes/globalGraph.png" alt="Knoten und Client Anzahl - Wochenüberblick Grafik" />
			</a>
			<a href="nodes/globalGraphMonth.png">
				<img class="col-md-6" src="nodes/globalGraphMonth.png" alt="Knoten und Client Anzahl - Monatsübersicht Grafik" />
			</a>
			
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Jahresübersicht</h2>
			</div>
		</div>
		<div class="row">
			<a href="nodes/globalGraphYear.png">
				<img class="col-md-12" src="nodes/globalGraphYear.png" alt="Knoten und Client Anzahl - Jahresübersicht Grafik" />
			</a>
		</div>
    </div>
  </body>
</html>
